{% extends "layout.html" %}

{% block content %}
  <h3>{{page.title}}<small> (<a href="/wiki/{{page.urlTitle}}/similar">Similar</a>)</small></h3>
  <h4>by <a href="/wiki/users/{{page.authorId}}">{{page.author.name}}</a></h4>
  <div>
	  <ul class="list-unstyled">
	  	{% for tag in page.tags %} 
	  		<li><a href="/wiki/results?tag={{tag}}">{{tag}}</a></li>
	  	{% endfor %}
	  </ul>
  </div>
  <hr/>
  <!-- <div>PLACEHOLDER AUTHOR NAME WITH LINK TO AUTHOR PAGE</div> -->
  <div class="page-body">{{page.content}}</div>
  <hr/>
  <a href="PLACEHOLDER_URL_TITLE/edit" class="btn btn-primary">edit this page</a>
  <a href="PLACEHOLDER_URL_TITLE/delete" class="btn btn-danger">delete this page</a>
{% endblock %}